.simply-scroll,
.simply-scroll-container,
.simply-scroll-clip {
  width: 100% !important;
  height: 80px !important;
}
.simply-scroll-list ul li {
  width: auto !important;
  margin-right: 5px !important;
  padding: 0;
}
.simply-scroll-list img {
  width: 220px !important;
  height: 30px !important;
  display: list-item !important;
}