@media (max-width: 1000px) {
  .carousel-inner img {
    width: 100%;
    height: 400px;
    max-height: 400px;
  }
}
@media (min-width: 1000.1px) {
  .carousel-inner img {
    width: 100%;
    height: 800px;
    max-height: 800px;
  }
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}